package components

templ Navbar() {
	<nav class="bg-gray-800 p-4 text-white">
		<div class="flex justify-between items-center">
			<div class="text-2xl font-bold">
				<a href="/">Ironbark</a>
			</div>
			<div class="flex gap-4">
				<a href="/">Home</a>
				<a href="/contacts">Contacts</a>
				<a href="/organisations">Organisations</a>
			</div>
		</div>
	</nav>
}
